#log { 
    z-index: 1;
    left: 56%;
    transform: translateX(-50%);
    margin-top: 70px;
    width: 85%; 
    height:70vh; 
    background:#111; 
    padding:10px; 
    overflow-y:scroll; 
    border-radius:6px;
    position: relative;
    color: white;
    font-family: 'fredoka', sans-serif;
}

input[type=text] { 
    width:80%; 
    padding:6px; 
    margin-top:10px; 
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}