#log { 
    z-index: 1;
    left: 52%;
    align-items: center;
    transform: translateX(-50%);
    margin-top: 70px;
    width: 60%; 
    height:70vh; 
    background:#111; 
    padding:10px; 
    overflow-y:scroll; 
    border-radius:6px;
    position: relative;
    color: white;
    font-family: 'fredoka', sans-serif;
}

input[type=text] { 
    width:60%; 
    padding:6px; 
    margin-top:10px; 
    left: 52%;
    transform: translateX(-50%);
    position: relative;
    z-index: 2;
}