@font-face {
    font-family: 'fredoka';
    src: url('/static/fredoka.ttf') format('truetype');
}

body {
    background-image: url('dirt.webp'); 
    background-size: 50px 50px; 
    background-repeat: repeat; 
    font-family: 'fredoka', sans-serif;
}

a, h1, h2, h3, h3, p, button, label {
    color: rgba(255, 255, 255, 0.625)
}

#header {
    top: 10px;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#startserver {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px 18px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.307);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: #fefeff;
    border: 2px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}

#acceptEula {
    padding: 10px 18px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: 2px solid #fbfbfc;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    cursor: pointer;
    transition: 0.2s;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    margin-top: 25px;
}


#startserver:hover, #acceptEula:hover {
    background: #2563eb;
    color: white;
}

#eulaPopup {
    background-color: rgba(255, 255, 255, 0.216);
    top: 50%;
    left: 50%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 2px solid #fbfbfc;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    padding: 20px;
}

#menuicon, #configicon, #consoleicon, #versionicon, #playersicon, #pluginsicon {
    display: flex;
    align-items: center;
    gap: 10px;  
    text-decoration: none;
}

.menucontainer {
    min-height: 50px;
    background: rgba(255, 255, 255, 0.307);
    border : 2px solid #fbfbfc;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

#menu {
    z-index: 2;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

button {
    font-family: 'fredoka', sans-serif;
}