<!DOCTYPE html>
<html>
<head>
    <title>Minecraft Server UI - Console</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/console.css">
    <link rel="icon" sizes="192x192" href="/static/icon.png" type="image/png" />
    <script defer src="/static/console.js"></script>
</head>
<body>
<iframe id="menu" src="/static/menu.html" width="250" height="2100" frameborder="0" scrolling="no" border="0"></iframe>
<h1 id="header">Console</h1>

<div id="log"></div>

<input type="text" id="command" placeholder="Type a command... (enter to send)">

</body>
</html>