<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minecraft Server UI - Players</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/players.css">
    <link rel="icon" sizes="192x192" href="/static/icon.png" type="image/png" />
    <script defer src="/static/players.js"></script>
</head>
<body>
    <iframe id="menu" src="/static/menu.html" width="250" height="2100" frameborder="0" scrolling="no" border="0"></iframe>
    <h1 id="header">Minecraft Server Players</h1>
    <center>
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>OP</th>
                <th>Action</th>
                <th>Gamemode</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </center>
</body>
</html>