<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Minecraft Server UI - Versions</title>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/version.css">

    <link rel="icon" sizes="192x192" href="/static/icon.png" type="image/png" />

    <script defer src="/static/version.js"></script>

</head>

<body>

    <iframe id="menu" src="/static/menu.html" width="250" height="2000" frameborder="0" scrolling="no" border="0"></iframe>

    <h1 id="header">Versions</h1>

    <div id="versiontext">
        <p>Click on a version to download it.</p>
    </div>

    <div id="loading">Loading versions...</div>

    <div id="versionsGrid"></div>

    <div id="errorContainer"></div>

    <div id="status"></div>

    <div id="popup">
        <div>

            <div>Warning!</div>

            <p>Downloading a new version will delete all your configuration files and your world!</p>

            <p>Are you sure you want to continue?</p>

            <div>
                <button id="confirmBtn">Confirm</button>
                <button id="cancelBtn">Cancel</button>
            </div>

        </div>
    </div>

    <input type="file" id="jarFile" accept=".jar">

</body>

</html>